[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/wildmidi"]
	path = external/wildmidi
	url = https://github.com/Mindwerks/wildmidi
[submodule "linuxdoom-1.10/clownlibs/clowncommon"]
	path = linuxdoom-1.10/clownlibs/clowncommon
	url = https://github.com/Clownacy/clowncommon
[submodule "external/libretro-common"]
	path = external/libretro-common
	url = https://github.com/libretro/libretro-common
